{% extends "base.html" %}
{% load static allauth i18n %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}


{% block content %}
    {% include 'parciais/_navbar.html' %}
    <div class="container p-5" id='wrap'>
        <h1 class="text-center">
            {% trans "Sign Up" %}
        </h1> 
        <p class="text-center mb-5">
            {% blocktrans %}Já possui uma conta? Então faça o seu <a href="{{ login_url }}">login</a>.{% endblocktrans %}
        </p>
        <div class="container d-flex justify-content-center">
            
            {% url 'account_signup' as account_signup %}
            {% element form form=form method="post" action="account_signup" tags="entrance,signup" %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {% if redirect_field_value %}
                        <input type="hidden"
                            name="{{ redirect_field_name }}"
                            value="{{ redirect_field_value }}" />
                    {% endif %}
                {% endslot %}
                {% slot actions %}
                    <button class="btn btn-success"tags="prominent,signup" type="submit">
                        {% trans "Sign Up" %}
                    </button>
                {% endslot %}
            {% endelement %}
            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
