{% extends 'base.html' %}

{% load static humanize %}

{% block content %}

<div class="container-fluid home-index p-5">
        <div class="container text-center">
            <div class="container" id='wrap'>
                <h2 class="text-center m-5">CLASSES DE ALUNOS</h2>            
                    <div class="row row-cols-1 row-cols-md-3 g-3 p-3">
                        {% for group in group_list %}
                        <div class="col">                
                            <div class="card shadow-sm">
                                <img src="{% static 'img/alunos_1.jpeg' %}" alt="imagem da turma de alunos" style='height: 100%; width: 100%;'>
                                <div class="table-responsive card-body">
                                    <table class="table">
                                        <tr>
                                            <th scope="col">Turma:</th>
                                            <td class="text-center">{{ group.graduation }}-{{ group.identification_group }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Sala:</th>
                                            <td class="text-center">{{ group.localization.get_struct_type_display }} {{ group.localization.name }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Prof. Responsável:</th>
                                            <td class="text-center"><small>{{ group.teacher_manager.full_name|title }}</small></td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Turno:</th>
                                            <td class="text-center"><small>{{ group.get_turn_display }}</small></td>
                                        </tr>
                                    </table>
                                    <div class="row">
                                        <div class="d-flex justify-content-end align-items-end">
                                            <div class='col'>
                                                <div class="btn-group">
                                                    {% if perms.group.change_group %}
                                                        <a href="{% url 'group_detail' group.id %}">
                                                            <button type="button" class="btn btn-sm btn-outline-secondary">Visualizar</button>
                                                        </a>
                                                    {% endif %}
                                                    {% if perms.group.change_group %}
                                                        <a href="#">
                                                            <button type="button" class="btn btn-sm btn-outline-secondary">Grade Escolar</button>
                                                        </a>
                                                    {% endif %}
                                                    {% if perms.group.add_group %}
                                                        <a href="{% url 'group_update' group.id %}">
                                                            <button type="button" class="btn btn-sm btn-outline-secondary">Alterar</button>
                                                        </a>
                                                    {% endif %}
                                                    {% if perms.group.delete_group %}
                                                        <a href="{% url 'group_delete' group.id %}">
                                                            <button type="button" class="btn btn-sm btn-outline-secondary">Excluir</button>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <small class="text-body-secondary text-end">Alunos 
                                            <a class="text-body-secondary" href="{% url 'group_students' group.id %}">{{ group.get_matriculados }}</a> 
                                            | Vagas:
                                            <a class="text-body-secondary" href="#">{{ group.get_vagas }}</a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>                
                    {% endfor %}
                    
                </div>
                {% if perms.group.add_group %}        
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'group_create' %}" class="d-block btn btn-secondary btn-lg mx-2 my-2">Nova Turma</a>
                    </div>
                {% endif %}
        
            </div>
        </div>
    </div>

{% endblock content %}