{% extends 'base.html' %}

{% load static humanize %}

{% block content %}

    {% include 'parciais/_navbar.html' %}
    <div class="container-fluid home-index p-5">
        <div class="container text-center">
            <div class="container" id='wrap'>
                <h2 class="text-center p-4">ALUNOS</h2>
                <div class="btn-group">                                
                    {% if perms.student.add_group %}
                        <a href="{% url 'student_create' %}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Novo</button>
                        </a>
                    {% endif %}
                </div>            
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 p-3">
                    <table class="table table-success table-striped mt-5">
                        <thead>
                            <tr class="table table-success">
                                <th>#</th>
                                <th class="">Matricula</th>
                                <th class="">Nome</th>
                                <th class="">Responsáveis</th>
                                <th class="">E-mail</th>
                                <th class="">Telefone</th>
                                <th class="">Alterar</th>
                                <th class="">Excluir</th>
                            </tr>
                        </thead>
                        <tbody class='justify-items-center'>
                            {% for student in group.students.all %}
                                <tr >
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td class="text-end">{{ student.id }}</td>
                                    {% if perms.student.view_group %}
                                        <a href="{% url 'student_detail' student.id %}" student.id ><td>{{ student.full_name|title }}</td></a>
                                    {% else %}
                                        <td>{{ student.full_name|title }}</td>
                                    {% endif %}
                                    <td >Mãe: {{ student.mother_name|title }} 
                                    <br>Pai: {{ student.mother_name|title }}</td>
                                    <td >{{ student.email }}</td>
                                    <td >({{ student.phone_ddd }}) {{ student.phone_number }}</td>
                                    {% if perms.student.add_student %}
                                        <td class="text-center"><a href="{% url 'student_update' student.id %}">
                                            <i class="bi bi-pencil-square text-success"></i>
                                        </a></td>
                                    {% endif %}
                                    {% if perms.student.delete_student %}                            
                                        <td class="text-center"><a href="{% url 'student_delete' student.id %}">
                                            <i class="bi bi-trash3 text-danger"></i>
                                        </a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
