{% exte{% extends 'base.html' %}

{% load static humanize %}

{% block content %}

    {% include 'parciais/_navbar.html' %}
    <div class="container-md pt-2 pb-5" id='wrap'>
        <div class="col">
            <h1 class="text-center">Classes da Escola</h1>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center" scope="col">Classe</th>
                        <th class="text-center" scope="col">Local</th>
                        <th class="text-center" scope="col">Professor Responsavel</th>
                        <th class="text-center" scope="col">Quantidade de Alunos</th>
                        <th class="text-center" scope="col">Quantidade de vagas</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for group in group_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        {% if perms.group.view_group %}
                            <td class="ml-5"><a href="{% url 'group_detail' group.id %}">{{ group.graduation }}-{{ group.identification_group }}</a></td>
                        {% else %}
                            <td clSass="ml-5">{{ group.graduation }}-{{ group.identificationidentification_group }}</td>
                        {% endif %}
                        <td class="text-center">{{ group.localization.get_struct_type_display }} {{ group.localization.name }}</td>
                        <td class="text-center">{{ group.teacher_manager.full_name }}</td>
                        <td class="text-center">{{ group.get_matriculados }}</td>
                        <td class="text-center">{{ group.get_vagas }}</td>

                        {% if perms.group.change_group %}
                            <td><a href="{% url 'group_update' group.id %} ">Alterar</a></td>
                        {% endif %}
                        {% if perms.group.delete_group %}                 
                            <td><a href="{% url 'group_delete' group.id %}">Excluir</a></td>
                        {% endif %}     
                    </tr>
                {% endfor %}
            
                </tbody>
            </table>
        {% if perms.group.add_group %}        
            <div class="d-flex justify-content-center">
                <a href="{% url 'group_create' %}" class="d-block btn btn-primary btn-lg my-5 mx-2 my-2">Nova Classe</a>
            </div>
        {% else %}
            não tem permissões
        {% endif %}
    
            <div class="container d-flex justify-content-center">
                <input type="submit" class="btn btn-secundary btn-lg my-2 mx-2 p-1" value="Estruturas">
                <input type="submit" class="btn btn-secundary btn-lg my-2 mx-2 p-1" value="Diciplinas">
                <input type="submit" class="btn btn-secundary btn-lg my-2 mx-2 p-1" value="Graduações">
                <input type="submit" class="btn btn-secundary btn-lg my-2 mx-2 p-1" value="Professores">
            </div>   
        </div>            
        <div class="col mt-5 image_school_3"></div>    
    </div>


{% endblock content %}nds 'base.html' %}

{% load static humanize %}

{% block content %}

    {% include 'parciais/_navbar.html' %}
    <div class="container-md pt-2 pb-5" id='wrap'>
        <div class="col">
            <h1 class="text-center">Classes da Escola</h1>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center" scope="col">Classe</th>
                        <th class="text-center" scope="col">Local</th>
                        <th class="text-center" scope="col">Professor Responsavel</th>
                        <th class="text-center" scope="col">Quantidade de Alunos</th>
                        <th class="text-center" scope="col">Quantidade de vagas</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for group in group_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        {% if perms.group.view_group %}
                            <td class="ml-5"><a href="{% url 'group_detail' group.id %}">{{ group.graduation }}-{{ group.identification_group }}</a></td>
                        {% else %}
                            <td clSass="ml-5">{{ group.graduation }}-{{ group.identificationidentification_group }}</td>
                        {% endif %}
                        <td class="text-center">{{ group.localization.get_struct_type_display }} {{ group.localization.name }}</td>
                        <td class="text-center">{{ group.teacher_manager.full_name }}</td>
                        <td class="text-center">{{ group.get_matriculados }}</td>
                        <td class="text-center">{{ group.get_vagas }}</td>

                        {% if perms.group.change_group %}
                            <td><a href="{% url 'group_update' group.id %} ">Alterar</a></td>
                        {% endif %}
                        {% if perms.group.delete_group %}                 
                            <td><a href="{% url 'group_delete' group.id %}">Excluir</a></td>
                        {% endif %}     
                    </tr>
                {% endfor %}
            
                </tbody>
            </table>
        {% if perms.group.add_group %}        
            <div class="d-flex justify-content-center">
                <a href="{% url 'group_create' %}" class="d-block btn btn-primary btn-lg my-5 mx-2 my-2">Nova Classe</a>
            </div>
        {% else %}
            não tem permissões
        {% endif %}
    
            <div class="container d-flex justify-content-center">
                <input type="submit" class="btn btn-secundary btn-lg my-2 mx-2 p-1" value="Estruturas">
                <input type="submit" class="btn btn-secundary btn-lg my-2 mx-2 p-1" value="Diciplinas">
                <input type="submit" class="btn btn-secundary btn-lg my-2 mx-2 p-1" value="Graduações">
                <input type="submit" class="btn btn-secundary btn-lg my-2 mx-2 p-1" value="Professores">
            </div>   
        </div>            
        <div class="col mt-5 image_school_3"></div>    
    </div>


{% endblock content %}