{% extends 'base.html' %}

{% load static humanize %}

{% block content %}

    {% include 'parciais/_navbar.html' %}
    <div class="container-md pt-2 pb-5" id='wrap'>
        <div class="col">
            <h1 class="text-center">Disciplinas</h1>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center" scope="col">Nome</th>
                        <th class="text-center" scope="col">Quantidade de Horas</th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for discipline in discipline_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        {% if perms.discipline.view_discipline %}
                            <td class="ml-5"><a href="{% url 'discipline_detail' discipline.id %}">{{ discipline.name }}</a></td>
                        {% else %}
                            <td clSass="ml-5">{{ discipline.name }}</td>
                        {% endif %}
                        <td class="text-center">{{ discipline.duration }}</td>
                        
                        {% if perms.discipline.change_discipline %}
                            <td><a href="{% url 'discipline_update' discipline.id %} ">Alterar</a></td>
                        {% endif %}

                        {% if perms.discipline.delete_discipline %}
                           <td><a href="{% url 'discipline_delete' discipline.id %}">Excluir</a></td>
                        {% endif %}
                        
                    </tr>
                {% endfor %}
            
                </tbody>
            </table>    
        </div>
        {% if perms.discipline.add_discipline %}
            <div class="d-flex justify-content-center">
                <a href="{% url 'discipline_create' %}" class="d-block btn btn-primary btn-lg my-5 mx-2 my-2">Novo Cadastro</a>
            </div>
        {% else %}
            não tem permissões
        {% endif %}
            
        <div class="col mt-5 image_school"></div>    
    </div>

{% endblock content %}