{% extends "base.html" %}
{% load i18n static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Server error' %}
    </div>
{% endblock %}

{% block title %}{% translate 'Server error (500)' %}{% endblock %}

{% block content %}
    <div class="container-fluid home-index p-5">
        <div class="container text-center p-5">
            <h1>{% translate 'Server Error <em>(500)</em>' %}</h1>
            <h3>SisGEsc - Sistema de Gerenciamento Escolar</h3>
            <p>{% translate 'Ocorreu um interno erro. Este erro foi reportado para os administradores via email e deve ser corrigido em breve. Obirgado por sua paciência.' %}</p>
        </div>
    
    </div>
    

{% endblock %}
