{% extends "base.html" %}
{% load static %}



    {% block content %}



    <section class="py-5 text-center container">
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        <div class="container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">{{ school.name }}</h1>
                    <p class="lead text-muted">Endereço: {{ school_address.type }} {{ school_address.address }}, {{ school_address.number }} {{ school_address.complement }}- Vila Sol Nascente, Suzano - SP, 08676310 Telefone: (11) 4746-2944<p>
                        <a href="#" class="btn btn-primary my-2">Informações Cadastrais da Escola</a>
                        <a href="#" class="btn btn-secondary my-2">Estrutura Escolar</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for group in groups %}            
                
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="image-card-group" width="100%" height="225" src="{% static 'images/alunos_1.jpeg' %}" aria-label="Alunos conversando"></img>
                        <div class="card-body">
                            <p class="card-text text-center">{{ group.graduation }} {{ group.group_name }} | Turno - {{ group.turn }} </p>
                            <p class="card-text">Prof.: {{ group.teacher }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
    {% endblock content %}