{% extends "base.html" %}
{% load static %}

    {% block content %}
        <section class=" container py-2 text-center">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="text-center">Sistema de Gerenciamento Escolar</h1>
                        <h4 class="fw-light">{{ school.name }}</h4>
                        
                        {% for address in addresses %}
                        
                            {% if address.school == school %}
                                <p class="lead text-muted"><b>CEP:</b> {{ address.address.zip_code }} - <b>Endereço:</b> {{ address.address.address_type }} {{ address.address.address }}, {{ address.number }} {{ address.complement }}</p>
                                <p class="lead text-muted"><b>Bairro:</b> {{ address.address.district }} - <b>Cidade: </b>{{ address.address.city }} / <b>UF: </b> {{ address.address.city.state }}</p>
                            {% endif %}
                                
                        {% endfor %}
                            
                    </div>
            </div>
        </section>
    {% endblock content %}