#body-grid {
    padding: 50px;
    counter-reset: session;
    max-width: 1100px;
    margin: 0 auto;
    line-height: 1.5;
}

.day {
    display: none;
    border-bottom: solid #000 1px;

}
.session {
    margin-bottom:  1em;
}

@supports( display:grid ) {
    @media screen and (min-width:700px) {
        .schedule {
            display: grid;
        }

        .schedule::after {
            display: block;
            content: '';
            position: sticky;
            top: 10rem;
            grid-column: subject / -1;
            grid-row: days;
            z-index: 999;
            background-color: rgba(255,255,255,.9);
            
        }
        
        .day {
            display: block;
            padding: 10px 5px 5px;
            position: sticky;
            top: 0; 
            z-index: 1000;
        }
        .session {
            margin: 5px;
        }
    }
}

.schedule {
    grid-gap: 1em;
    grid-template-rows:
        [days] auto
        [time-0700] 1fr [time-0715] 1fr [time-0730] 1fr [time-0745] 1fr [time-0800] 1fr [time-0815] 1fr [time-0830] 1fr [time-0845] 1fr [time-0900] 1fr [time-0915] 1fr
        [time-0930] 1fr [time-0945] 1fr [time-1000] 1fr [time-1015] 1fr [time-1030] 1fr [time-1045] 1fr [time-1100] 1fr [time-1115] 1fr [time-1130] 1fr [time-1145] 1fr
        [time-1200] 1fr [time-1215] 1fr [time-1230] 1fr [time-1245] 1fr;
    grid-template-columns:
        [times] 4em
        
        [sunday-start] 1fr
        [sunday-end monday-start] 1fr
        [monday-end tuesday-start] 1fr
        [tuesday-end wednesday-start] 1fr
        [wednesday-end thursday-start] 1fr
        [thursday-end friday-start] 1fr
        [friday-end saturday-start] 1fr
        [saturday-end];
}

.session {
    padding: .5em;
    border-radius: 2px;
    font-size: 14px;
    
}

.subject,
.time {
    margin: 0;
    font-size: 1em;
}

body {
    counter-reset: subject-count;
}

.title::before {
    counter-increment: subject-count;
    content: 'Subject #' counter(subject-count) ': ';
}

.day,
.time {
    font-weight: bold;
    font-size:.75em;
}

span {
    display: block;
}

.math { background-color: #11a5b0c9; color: #fff;}
.history { background-color: #687f00; color: #fff;}
.geography { background-color: #7f006e; color: #fff;}
.science { background-color: #544D69; color: #fff;}
.art { background-color: #c35500; color: #fff;}
.english { background-color: #15e68f; color: #fff;}
.spanish { background-color: #d1e615; color: #fff;}
.french { background-color: #ebb68e; color: #fff;}
.dramatics { background-color: #925825; color: #fff;}
.physicaleducation { background-color: #674c92; color: #fff;}
.woodshop { background-color: #6b00c2; color: #fff; }
.health { background-color: #24d613; color: #fff;}
.economics { background-color: #74756e; color: #fff;}

.breaks {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    color: #000;
}


.visible-scrollbar, .invisible-scrollbar, .mostly-customized-scrollbar {
    display: block;
    width: 60vw;
    overflow: auto;
    height: 80vh;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Demonstração de uma barra de rolagem personalizada
  * (não será visível ao menos que a largura/altura seja especificada) */
.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; /* ou que isso seja adicionado ao "caminho" da barra */
}

/* Adiciona a barra arrastável */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: #000;
}