{% load static humanize %}

<nav class="navbar navbar-expand-lg navbar-blue bg-info p-3" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">{{ school.fantasy }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#ofcNavbar01" aria-controls="ofcNavbar01" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-info" tabindex="-1" id="ofcNavbar01" aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="ofcNavbar01Label"> <p> {{ school.fantasy }} </p> </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    
                    
            {% if user.is_authenticated %}
                        
                    
                                                
                    {% if perms.school.view_school %}
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Agenda
                                </a>
                                <ul class="dropdown-menu">
                                    {% if perms.calendarevent.add_calendarevent %}

                                        <li><a class="dropdown-item" href="{% url 'event_all' %}">Lista de Compromissos</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'day_events' %}">por Dia</a></li>
                                    <li><a class="dropdown-item" href="{% url 'week_events' %}">por Semana</a></li>
                                    <li><a class="dropdown-item" href="{% url 'scheduling' %}">por Mês</a></li>
                                </ul>
                            </li>
                    {% endif %}

                    {% if perms.school.view_school %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Escola
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'school_all' %}">Informações Cadastrais</a></li>
                                <li><a class="dropdown-item" href="{% url 'struct_all' %}">Estrutura Escular</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'discipline_all' %}">Disciplinas</a></li>
                                <li><a class="dropdown-item" href="{% url 'graduation_all' %}">Graduações</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'group_all' %}">Turmas</a></li>
                            </ul>
                        </li>  
                    {% endif %}
                    
                
                    {% if perms.teacher.view_teacher %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'teacher_all' %}">Professores</a>
                        </li>    
                    {% endif %}
                    
                    {% if perms.student.view_student %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'student_all' %}">Alunos</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="#">Grade Escolar</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% else %}
                                Usuário
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu"> 
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sair</a></li>
                        </ul>
                    </li>
            {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>