{% load static %}

<!-- Favicons -->
<link rel="android-chrome-icon" href="{% static 'favicon/android-chrome-192x192.png' %}" sizes="192x192">
<link rel="android-chrome-icon" href="{% static 'favicon/android-chrome-512x512.png' %}" sizes="512x512">
<link rel="apple-touch-icon" href="{% static 'favicon/apple-thouch-icon.png' %}" sizes="180x180">
<link rel="icon" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32" type="image/png">
<link rel="icon" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16" type="image/png">
<link rel="manifest" href="{% static 'favicon/manifest.json' %}">
<link rel="icon" href="{% static 'favicon/favicon.ico' %}">