{% load static fullcalendar_tags %}

<link href="{% static 'vendor/fullcalendar/packages/core/main.min.css' %}" rel="stylesheet">

<link href="{% static 'vendor/fullcalendar/packages/daygrid/main.css' %}" rel="stylesheet">

<link href="{% static 'vendor/fullcalendar/packages/timegrid/main.css' %}" rel="stylesheet">

<link href="{% static 'vendor/fullcalendar/packages/list/main.css' %}" rel="stylesheet">

{% fullcalendar_javascript %}
{% fullcalendar_core %}
{% fullcalendar_core_ptbr %}
{% fullcalendar_daygrid %}
{% fullcalendar_interaction %}
{% fullcalendar_list %}
{% fullcalendar_moment %}
{% fullcalendar_luxon %}
{% fullcalendar_moment_timezone %}
{% fullcalendar_rrule %}
{% fullcalendar_timegrid %}

{% calendar_init calendar_config_options %}