

{% extends "base.html" %}


{% load static humanize %}

{% block content %}

    {% include 'parciais/_navbar.html' %}
    <div class="container-fluid home-index p-5">
        <div class="container text-center"> 
            {% url 'school_all' as list_all %}
            <div class="container" id='wrap'>
                <div class="container d-flex justify-content-center mt-5">
                    <div class="col mt-5 text-center">
                        <h1 class="mb-5">Excluir Escola {{ school.name| title }}</h1>
                        <p class="h5">Você deseja realmente excluir o cadastro da escola?</p>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-success btn-lg m-3" value="Sim">
                            <input type="submit" class="btn btn-danger btn-lg m-3" onclick="window.location='{{ list_all }}'; return false;" value="Não">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}