{% extends 'base.html' %}

{% load static humanize %}

{% block content %}

    {% include 'parciais/_navbar.html' %}
    <div class="container-fluid home-index p-5">
        <div class="container text-center"> 
            <div class="container" id='wrap'>
                <h1 class="text-center p-4">Estruturas do {{ school.fantasy|title }} </h1>                
                <div class="table-responsive col">
                    <div class="col mt-5 image_school_2"></div>
                    <table class="table table-striped mt-5">
                        {% include 'parciais/_pagination.html' %}
                        <thead>
                            <tr>
                                <th>#</th>
                                <th scope="col">Identificação</th>
                                <th class="text-center" scope="col">Tipo</th>
                                <th class="text-center" scope="col">Área</th>
                                <th class="text-center" scope="col">Perímetro</th>
                                <th class="text-center" scope="col">Vagas</th>
                                <th class="text-center" scope="col">Alterar</th>
                                <th class="text-center" scope="col">Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            {% for struct in structschool_list %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td class="ml-5 text-center">{{ struct.get_struct_type_display }} {{ struct.name }}</td>
                                <td class="text-center">{{ struct.get_struct_type_display }}</td>
                                <td class="text-center">{{ struct.area }} m²</td>
                                <td class="text-center">{{ struct.perimeter }} m</td>
                                <td class="text-center">{{ struct.vagas }}</td>
                                <td class="text-center"><a href="{% url 'struct_update' struct.id %} ">
                                    <i class="bi bi-pencil-square text-success"></i>
                                </a></td>
                                <td class="text-center"><a href="{% url 'struct_delete' struct.id %}">
                                    <i class="bi bi-trash3 text-danger"></i>
                                </a></td>        
                            </tr>
                        {% endfor %}
                    
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center p-3">
                        <a href="{% url 'struct_create' %}" class="d-block btn btn-primary btn-lg">Novo Cadastro</a>
                    </div>   
                </div>
            </div>
        </div>
    </div>
{% endblock content %}