

{% extends "base.html" %}


{% load static humanize fullcalendar_tags %}

{% block content %}

    {% include 'parciais/_navbar.html' %}

    {% url 'event_all' as list_all %}
    <div class="container-fluid home-index p-5">
        <div class="container text-center">
            <div class="container" id='wrap'>
                <div class="container d-flex justify-content-center mt-5">
                    <div class="col mt-5 text-center">
                        <h1 >Excluir Compromisso {{ calendarevent.title|title }}</h1>
                            <h3>{{ calendarevent.start| naturalday }} - Iniciando: {{ calendarevent.start| naturaltime }} - Terminando: {{ calendarevent.end| naturaltime }}</h3>
                        <p class="h5 mt-3">Você deseja realmente excluir esse evento?</p>
                        <form action="" method="POST" class="p-4">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-success btn-lg" value="Sim">
                            <input type="submit" class="btn btn-danger btn-lg" onclick="window.location='{{ list_all }}'; return false;" value="Não">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}