{% extends 'base.html' %}

{% load static %}
{% load humanize %}


{% block content %}

    {% include 'parciais/_navbar.html' %}
        <div class="container-fluid home-index p-5">
    <div class="container text-center p-5">
    <div class="container pt-2 pb-5" id='wrap'>
        <div class="table-responsive col">
            <h1 class="text-center">Lista de Eventos</h1>
            <table class="table table-striped mt-5">
                {% include 'parciais/_pagination.html' %}
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center" scope="col">Compromisso</th>
                        <th class="text-center" scope="col">Quando</th>
                        <th class="text-center" scope="col">Inicia</th>
                        <th class="text-center" scope="col">Termina</th>
                        <th class="text-center" scope="col">Dia Inteiro?</th>
                        <th scope="col">Alterar</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for event in calendarevent_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td class="ml-5"><a href="{% url 'event_detail' event.id %}">{{ event.title|title }}</a></td>
                        <td class="text-center">{{ event.start|naturalday }}</td>
                        <td class="text-center">{{ event.start|naturaltime }}</td>
                        <td class="text-center">{{ event.end|naturaltime }}</td>
                        <td class="text-center">
                        {% if event.all_day %}
                            <i class="bi bi-check text-success "></i>
                        {% else %}
                            <i class="bi bi-x text-danger"></i>
                        {% endif %}
                        </td>
                        
                        
                        <td class="text-center"><a href="{% url 'event_update' event.id %} ">
                            <i class="bi bi-pencil-square text-success"></i>
                        </a></td>
                        <td class="text-center"><a href="{% url 'event_delete' event.id %}">
                            <i class="bi bi-trash3 text-danger"></i>
                        </a></td>
                    </tr>
                {% endfor %}
            
                </tbody>
            </table>    
            <div class="d-flex justify-content-center">
                <a href="{% url 'event_create' %}" class="d-block btn btn-primary btn-lg my-5 mx-2 my-2">Novo Evento</a>
                <a href="{% url 'scheduling' %}" class="d-block btn btn-primary btn-lg my-5 mx-2 my-2">Agenda</a>
            </div>
        </div>
            
    </div>
    </div>
        </div>
{% endblock content %}