{% extends "base.html" %}

{% load static humanize %}

{% block content %}

    
    <div class="container-fluid home-index p-5">
        <div class="container text-center">        
            <div class="container" id='wrap'>
                <div class="container d-flex justify-self-center mt-5">
                    <div class="table-responsive col">
                        <h3 class="text-center p-4">Cadastro da Disciplina</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <table class="table">
                                <tbody>
                                    <tr>
                                        {{ form.as_table }}
                                    </tr> 
                                </tbody>
                            </table>
                            <div class="container d-flex justify-content-center p-3">
                                <input type="submit" class="btn btn-primary btn-lg" value="Salvar">
                                <input type="submit" class="btn btn-danger btn-lg" onclick="window.location='{% url 'discipline_all' %}'; return false;" value="Cancelar">
                            </div>    
                        </form> 

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}