

{% extends "base.html" %}


{% load static humanize %}

{% block content %}

    <div class="container-fluid home-index p-5">
        <div class="container text-center">
            {% url 'discipline_all' as list_all %}
            <div class="container" id='wrap'>
                <div class="container d-flex justify-content-center mt-5">
                    <div class="col mt-5 text-center">
                        <h1 class="mb-5">Excluir a Disciplina {{ discipline.name|title }}</h1>

                        <p class="h5">Você deseja realmente excluir da disciplina?</p>
                        <form class="p-3" action="" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-success btn-lg mx-3 my-3" value="Sim">
                            <input type="submit" class="btn btn-danger btn-lg mx-3 my-3" onclick="window.location='{{ list_all }}'; return false;" value="Não">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}