{% extends 'base.html' %}

{% load static humanize %}

{% block content %}

    <div class="container-fluid home-index p-5">
        <div class="container text-center">
            <div class="container" id='wrap'>
                <div class="table-responsive col p-4">
                    <h1 class="text-center">Graduações</h1>
                    <table class="table table-striped">
                        {% comment %} {% include 'parciais/_pagination.html' %} {% endcomment %}
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-center" scope="col">Graduação</th>
                                <th class="text-center" scope="col">Carga Horária Semanal</th>
                            {% if perms.graduation.delete_graduation %}
                                <th class="text-center" scope="col">Alterar</th>
                            {% endif %}
                            {% if perms.graduation.delete_graduation %}
                                <th class="text-center" scope="col">Excluir</th>
                            {% endif %}
                            </tr>
                        </thead>
                        <tbody>                        
                            {% for graduation in graduation_list %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                {% if perms.graduation.view_graduation %}
                                    <td class="ml-5"><a href="{% url 'graduation_detail' graduation.id %}">{{ graduation.name|title }}</a></td>
                                {% else %}
                                    <td clSass="ml-5">{{ graduation.name|title }}</td>
                                {% endif %}
                                <td class="text-center">{{ graduation.duration_hours }} hrs</td>
                                
                                {% if perms.graduation.add_graduation %}
                                    <td class="text-center"><a href="{% url 'graduation_update' graduation.id %}">
                                        <i class="bi bi-pencil-square text-success"></i>
                                    </a></td>
                                {% endif %}
                                {% if perms.graduation.delete_graduation %}
                                    <td class="text-center"><a href="{% url 'graduation_delete' graduation.id %}">
                                        <i class="bi bi-trash3 text-danger"></i>
                                    </a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>    
                </div>
                {% if perms.graduation.add_graduation %}
                    <div class="d-flex justify-content-center p-3">
                        <a href="{% url 'graduation_create' %}" class="d-block btn btn-primary btn-lg my-5 mx-2 my-2">Nova Graduação</a>
                        <a href="{% url 'discipline_all' %}" class="d-block btn btn-secondary btn-lg my-5 mx-2 my-2">Disciplinas</a>
                    </div>
                {% endif %}
                <div class="col mt-5 image_school"></div>    
            </div>
        </div>
    </div>
{% endblock content %}